@font-face {
    font-family: Montserrat;
    src: url('../Montserrat.ttf');
}

body {
    background-image: url('../images/background.jpg');
    background-size:cover;
}

#gameName {
    display: table;
    margin: 0px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 60px;
    font-family: Montserrat;
    border: solid;
    border-color: white;
    border-radius: 25px;
}

#about {
    display: table;
    margin: 0px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    background-color: black;
    text-align: left;
    margin-top: 120px;
    color: white;
    font-size: 45px;
    font-family: Montserrat;
    border: solid;
    border-color: white;
    border-radius: 25px;
}

#desc {
    display: table;
    margin: 0px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    background-color: black;
    text-align: left;
    color: white;
    font-size: 23px;
    font-family: Montserrat;
    border: solid;
    border-color: white;
    border-radius: 25px;
}

#demoVid {
    width: 39vw;
    border: solid;
    border-color: white;
    border-radius: 25px;
}